/HackerRank30Days.xcworkspace/xcuserdata/CgPanda.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/HackerRank30Days.xcworkspace/xcuserdata/CgPanda.xcuserdatad/UserInterfaceState.xcuserstate
/Day10-BinaryNumbers/Day10-BinaryNumbers.xcodeproj/xcuserdata
